---
layout: base
title: The Latest Ingress Report
---

%h2 #{page.title}

.row-fluid
  .span12
    %iframe{ :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/#{site.ingress_report_id}", :title => "YouTube video player", :width => "640"}
