---
layout: base
title: The Latest Ingress Report
---

%h2
  %i.fa.fa-youtube-play.fa-lg
  #{page.title}

.row
  .col-md-12
    .flex-video.widescreen
      %iframe{ :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "http://www.youtube.com/embed/#{site.ingress_report_id}", :title => "YouTube video player" }
