---
layout: base
---
.row
  .col-md-12
    .panel.panel-danger
      .panel-heading
        %h2
          %i.fa.fa-meh-o.fa-lg
          Resonator Destroyed
      .panel-body
        Oh my, something has gone wrong and you've ended up on the error page. Sorry about that. Try something from the buttons at the top of the page to get back on course.
