---
layout: base
---
.row
  .col-md-12
    .alert.alert-danger
      %h2 Resonator Destroyed
      %p Something has gone wrong and you've ended up on the error page. Sorry about that. Try something from the buttons at the top of the page.
