---
layout: base
---
.row-fluid
  .span4
    %h2 About Ingress
    %p Ingress is an augmented reality GPS game by Google that is played on Android smartphones and tablets in the real world.
    %p
      %a.btn{ :href=>"#{site.base_url}/ingress" } Learn More &raquo;

  .span4
    %h2 Our Goal
    %p Have fun while protecting humanity from the alien Shapers who are attempting to infiltrate Earth and destroy humanity.
    %p
      %a.btn{ :href=>"#{site.base_url}/goal" } Learn More&raquo;

  .span4
    %h2 Communications
    %p How to get in touch with the Resistance.
    %p
      %a.btn{ :href=>"#{site.base_url}/comms" } Learn More &raquo;

.row-fluid
  .span12
    :textile
      ---
      h3. Treaties
    .span3
      :textile
        * "==Geelong (Eastern Beach)==":http://www.ingress.com/intel?latE6=-38143750&lngE6=144362824&z=17
        ** Request details via comms when in Geelong.
    .span3
      :textile
        * -Melbourne (Birrarung Marr)-
        ** No longer active
    .span3
      :textile
        * -Ballarat (Lake Wendouree)-
        ** No longer active
