---
layout: base
title: Joining the Resistance
---
.row
  .col-md-8
    :textile
      h2. #{page.title}

      To become a Resistance agent you will need the following:

      * A smartphone or tablet running "android":http://android.com with access to mobile data (either directly or via tethering)
      * The "ingress scanner application":https://play.google.com/store/apps/details?id=com.nianticproject.ingress from the Google Play store.
      * After running through the training missions in the scanner app be sure to select *Resistance* as your faction.
      * _Optional_: a "Google+":https://plus.google.com/ account (while you can play alone you will be far more effective and have more fun playing with others). Find a local Google+ community on the "comms":/comms/ page and _"Ask to join"_ then use secure faction comms to post your Google+ initials so a moderator can verify your faction and application. Or just ask in faction comms, someone will be happy to help (starting out can be a bit daunting).

      Female players are very welcome in the Victorian Resistance and we have many high ranking and powerful female Resistance members who are more than willing to mentor new female players (this is of course also true of the Enlightened). Google have stated that the game is for over 18's only, while family members can of course travel with you while you play it is unadvisable to allow your children to play until Google make it more child friendly. We'd classify the game more as *PG* than as *R*, it contains an unfiltered public chat with adult language at times and the possibility of meeting people in the real world so please use your best judgement.

      We have strong Resistance presence in Melbourne, Ballarat, Geelong, Bendigo and Werribee but we always need more fighters in all locations. Even in areas where there is little active fighting taking place we need scouts who can seek out high strategic portal locations that will help us defeat the aliens. No matter where you live there is important work to be done.
  .col-md-4
    %img.img-responsive{ :src=> '/images/resistance.png' }

.row
  .col-md-8
    :textile
      h3. Whoops, I chose Enlightened

      If you made the wrong choice and mistakenly sided with the aliens don't worry you can always "apply for a faction change":https://support.google.com/ingress/?contact=1#contact=1 and we will help you regain your previous level.
  .col-md-4
    %img.img-responsive{ :src=> '/images/enlightened400px.jpg' }
