---
layout: base
title: Joining the Resistance
---
.row-fluid
  .span8
    :textile
      h2. #{page.title}

      To become a Resistance agent you will need the following:

      * A smartphone or tablet running "android":http://android.com with access to mobile data (either directly or via tethering)
      * An ingress invite (click _"request an invite"_ on "ingress.com":http://ingress.com and you should get one within a few weeks). You might be able to "speed up this process":/invite if you already have a nearby Resistance agent with spare invites. "More information here":/invite.
      * The "ingress scanner application":https://play.google.com/store/apps/details?id=com.nianticproject.ingress.
      * _Optional_: a "Google+":https://plus.google.com/ account (while you can play alone you will be far more effective and have more fun playing with others)

      Female players are very welcome in the Victorian Resistance and we have many high ranking and powerful female Reistance members who are more than willing to mentor new female players (this is of course also true of the Enlightened). Google have very clearly stated that the game is for over 18's only, while family members can of course travel with you while you play it is unadvisable to allow your children to play until Google make it more child friendly. Personally I'd classify the game more as *PG* than as *R*, please use your best judgement.

      We have strong Resistance presence in Melbourne, Ballarat, Geelong, Bendigo and Werribee but we always need more fighters in all locations. Even in areas where there is little active fighting taking place we need scouts who can seek out high strategic portal locations that will help us defeat the aliens. No matter where you live there is important work to be done.

      h3. Whoops, I chose Enlightened before I knew what I was doing

      If you made the wrong choice and mistakenly sided with the aliens don't worry you can always "apply for a faction change":https://support.google.com/ingress/?contact=1#contact=1 and we will help you regain your previous level.
  .span4
    %img{ :src=> '/images/resistance.png' }
