---
layout: base
title: Joining the Resistance
---
.row-fluid
  .span8
    :textile
      h2. #{page.title}

      To become a resistance fighter you will need the following:

      * A smartphone or tablet running "android":http://android.com with access to mobile data (either directly or via tethering)
      * An ingress invite (click _"request an invite"_ on "ingress.com":ingress.com and you should get one within a few weeks). You can "speed up this process":/invite if you already have a nearby Resistance agent with spare invites.
      * The "ingress scanner application":https://play.google.com/store/apps/details?id=com.nianticproject.ingress
      * _Optional_: a "Google+":https://plus.google.com/ account (while you can play alone you will be far more effective and have more fun playing with others)

      Female players are very welcome in the Resistance and we have many high ranking and powerful local female Reistance members who are more than willing to mentor new female players. This is also true of the enlightened. Google have very clearly stated that the game is for over 18's only, while family members can of course travel with you while you play it is unadvisable to allow your children to play until Google make it more child safe.

      We have strong resistance presence in Melbourne, Ballarat, Geelong, Bendigo and Werribee but we always need more fighters in all locations. Even in areas where there is little active fighting taking place we need scouts who can seek out high strategic portal locations that will help us defeat the aliens. So no matter where you live there is important work to be done.


      If you made the wrong choice and mistakenly sided with the aliens don't worry you can always "apply for a faction change":https://support.google.com/ingress/?contact=1#contact=1 and we will help you regain your previous level.
  .span4
    %img{ :src=> '/images/resistance.png' }
