---
layout: base
title: Interitus
---

%h2
  <strong>#INTERITUS</strong> XM ANOMALY EVENT: MELBOURNE MAY 17, 2014

.row
  .col-md-8
    %p Much love to the organisers and particpants for a fun afternoon in Melbourne fighting for our future.

    %p We hope everyone had an epic fun battle!

    %p Be sure and share your photos and videos from the event on <a href="http://goo.gl/BFg59R">the event page</a>.

    %code &lt;/agent&gt;

  .col-md-4.hidden-xs
    %img.img-responsive{ :src=> '/images/interitus.png' }
