---
layout: base
title: Interitus
---

%h2
  <strong>#INTERITUS</strong> XM ANOMALY EVENT: MELBOURNE MAY 17, 2014

.row
  .col-md-8
    %p Much love to the organisers and particpants for a fun afternoon in Melbourne fighting for our future.

    %p
      Once 
      %strong Interitus Anomaly Event 04
      on May 17 was complete
      %strong The Resistance
      emerged the clear winners with a total of
      %b#human 3165
      vs
      %span#alien 1666.75
      for the Enlightened.

    %p We hope everyone had an epic fun battle!

    %p Be sure and share your photos and videos from the event on <a href="http://goo.gl/BFg59R">the event page</a>.

    %h3 Series Recap

    %ul
      %li
        %strong
          %a{ :href=>"https://plus.google.com/+Ingress/posts/V6BZvCD2dDG" }
            Event 01: April 12
        winner
        %strong#human Resistance (1442 vs 1189)
      %li
        %strong
          %a{ :href=>"https://plus.google.com/+Ingress/posts/YBRQgn6UxSR" }
            Event 02: April 26
        winner
        %strong#human Resistance (2747 vs 1830)
      %li
        %strong
          %a{ :href=>"https://plus.google.com/+Ingress/posts/3J4uRtwhMH3" }
            Event 03: May 10
        winner
        %strong#alien Enlightened (1994.5 vs 2488.25)
      %li
        %strong
          %a{ :href=>"https://plus.google.com/+Ingress/posts/MUJKqdwcH2j" }
            Event 04: May 17
        winner
        %strong#human Resistance (3165 vs 1666.75)
      %li
        %strong
          %a{ :href=>"https://plus.google.com/+Ingress/posts/Z2o4LTSDJkg" }
            Event 05: June 7
        winner
        %strong#alien Enlightened (2334 vs 4195.25)
      %li
        %strong
          %a{ :href=>"https://plus.google.com/+Ingress/posts/2Vv7HL1nCqe" }
            Event 06: June 21
        winner
        %strong#human Resistance (2703.25 vs 2322)

    %h3 Final Score

    %p
      %b#human 14459.75 Resistance
      vs
      %span#alien 13656.75 Enlightened

    %h1#human Resistance win Interitus

    %code &lt;/agent&gt;

  .col-md-4.hidden-xs
    %img.img-responsive{ :src=> '/images/interitus.png' }
