---
layout: base
title: Interitus
---

%h2
  <strong>#INTERITUS</strong> XM ANOMALY EVENT: MELBOURNE MAY 17, 2014

.row
  .col-md-8
    %p Much love to the organisers and particpants for a fun afternoon in Melbourne fighting for our future.

    %p
      Once 
      %strong Interitus Anomaly Event 04
      on May 17 was complete
      %strong The Resistance
      emerged the clear winners with a total of 3165 vs 1666.75 for the Enlightened.

    %p We hope everyone had an epic fun battle!

    %p Be sure and share your photos and videos from the event on <a href="http://goo.gl/BFg59R">the event page</a>.

    %h3 Series Recap

    %ul
      %li
        %strong Event 01: April 12
        winner
        %strong#human Resistance
      %li
        %strong Event 02: April 26
        winner
        %strong#human Resistance
      %li
        %strong Event 03: May 10
        winner
        %strong#alien Enlightened
      %li
        %strong Event 04: May 17
        winner
        %strong#human Resistance
      %li
        %strong Event 05: June 7
        winner
        %strong#alien Enlightened
      %li
        %strong Event 06: June 21
        winner
        %strong ...
        
    %code &lt;/agent&gt;

  .col-md-4.hidden-xs
    %img.img-responsive{ :src=> '/images/interitus.png' }
