---
layout: base
title: Welcome iOS Agents!
---
.row
  .col-md-8
    %h2
      %i.fa.fa-apple.fa-lg
      #{page.title}

    %h3 Your Quickstart Dos and Don'ts

    %ul

      %li
        Do install the scanner app from the App Store
        %br
        %a{:href=>"#{site.app.ios}"}<
          %img{:src=>"/images/appleappstore.png"}

      %li
        Do join the
        %a{ :href=>"/comms" } Victoria Wide Resistance Community
        as well as any community that covers your home, work or study locations

      %li
        Do introduce yourself on faction comms and find someone local to teach you the ropes (and they'll probably give you a bunch of free gear)

      %li
        Do learn to use the
        %a{ :href=>"http://ingress.com/intel" }
          intel map

      %li Do hack every portal
      %li Do deploy resonators on every unclaimed (grey) or blue portal missing resonators
      %li Do link to every portal you have a key for
      %li Do try and create triangular fields linking 3 portals together
      %li Don't worry about using XMP bursters until you reach level 4 (if you focus on the steps above that'll be quick)
      %li Don't be afraid to ask for help on faction comms
      %li Don't worry about accidently sending messages on public comms instead of secure (faction) comms, it happens to everyone
      %li
        %h4
          Do have fun!
          %small (it is a game after all)

  .col-md-4.hidden-xs
    %img.img-responsive{ :src=> '/images/resistance.png' }
