// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
@import "bootstrap.scss";
@import "compass/css3";

body {
  color: #336;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  min-width: 340px;
  padding-top: 90px;
  z-index: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.navbar {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  @include box-shadow(0 0 10px rgba(0,0,0,0.8));
}

.navbar-brand {
  background-color: #00c0ff;
  color: #000 !important;
  text-shadow: none !important;
  font-weight: 900 !important;
  @include background-image(linear-gradient(#3ef, #00c0ff));
  background-repeat: repeat-x;
  padding-top: 1px;
  padding-bottom: 1px;
}

.navbar .nav > li > a:hover {
  background-color: #00c0ff;
  @include background-image(linear-gradient(#3ef, #00c0ff));
  background-repeat: repeat-x;
  text-shadow: none !important;
}

.btn:hover {
  background-color: #00c0ff;
  @include background-image(linear-gradient(#3ef, #00c0ff));
  background-repeat: repeat-x;
  color: #000;
  text-shadow: none;
}

.jumbotron {
  @include box-shadow(0 0 20px 5px #00c0ff);
  min-width: 325px;
}

.jumbotron .tagline {
  background-color: #2290f8;
  color: white;
  padding: 4px;
}

footer {
  line-height: 50%;
}

#megatron {
	background: url(/images/bg.jpg);
	background-position: 50% 0px;
	height: auto;
	margin: 0 auto;
	position: relative;
}

.jumbotron { background-color: transparent; }

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

#alien { color: #28f428; }

#human { color: #00c2ff; }
.human { color: #00c2ff; }

.dropdown-text {
  text-transform: none;
  font-size: 10pt;
  color: #ddd;
  padding-left: 10px;
}

.panel {
  @include box-shadow(0 0px 5px rgba(0,0,0,.1));
}

#mottopost {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  white-space: nowrap;
  @include text-shadow(rgba(black,0.3) 0 2px 2px);
	width: 50%;
	display: block;
}

#mottopre {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  white-space: nowrap;
  @include text-shadow(rgba(black,0.3) 0 2px 2px);
	width: 50%;
	display: block;
	text-align: right;
	float: left;
}

#news {
  color: #fff;
  background-color: #00c2ff;
}
