---
layout: base
title: Getting an invite
---
.row
  .col-md-8
    %h2 #{page.title}

    %p Invites are no longer required, simply install the app and get playing.

    %p
      %a{:href=>"#{site.app.android}"}<
        %img{:src=>"/images/googleplaystore.png"}
      %a{:href=>"#{site.app.ios}"}<
        %img{:src=>"/images/appleappstore.png"}

  .col-md-4
    %img.img-responsive{ :src=> '/images/resistance.png' }
