---
layout: base
title: Getting an invite
---
.row
  .col-md-8
    %h2 #{page.title}

    %p Invites are no longer required, simply install the app and get playing.

    %p
      %a{:href=>"https://play.google.com/store/apps/details?id=com.nianticproject.ingress"}
        %img{:src=>"https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"}

  .col-md-4
    %img.img-responsive{ :src=> '/images/resistance.png' }
