---
layout: base
title: Getting an invite
---
.row-fluid
  .span8
    :textile
      h2. #{page.title}

      If you are finding it difficult getting an invite or just want one super fast there is a possibility we can help you. Many of our agents have invites that can be issued to you however to ensure the invites are not used by the aliens you will need to meet with a Resistance agent in person. Don't worry, we are nice people (mostly gamer geeks).

      To organise this you will need to post your rough location (town, suburb) to Google+ and share it with "+Resistance Victoria Recruitment":http://resistancevictoria.com/recruit. There is no need to make the post public (and in fact we advice against it) and once we've organised the details you can delete the post. There is always a possibility that there are no nearby agents with spare invites, but we will try our best to help you out.

      *Note*: This offer is only open to agents located in Victoria, Australia.

      Not only will you get an invite but you will also make a friend in the area who you can team up with to crush the aliens and who can give you hints, tips and supplies.

  .span4
    %img{ :src=> '/images/resistance.png' }
