---
layout: base
title: About Ingress
---

.row
  .col-md-8
    %h2 #{page.title}

    %p
      %a{:href=>"http://ingress.com/"} Ingress
      is an
      %a{:href=>"http://en.wikipedia.org/wiki/Augmented_reality"} augmented reality
      GPS game by Google played on Android smartphones and tablets.

    %p
      %a{:href=>"https://play.google.com/store/apps/details?id=com.nianticproject.ingress"}
        %img{:src=>"https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"}

    %hr

    %h3
      %i.fa.fa-youtube-play
      Promotional Video

    .flex-video.widescreen
      %iframe{ :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "http://www.youtube.com/embed/Ss-Z-QjFUio", :title => "Ingress - It's time to move" }

    %p
      The game objective is to capture and defend portals that are located at real world landmarks (art, sculptures, memorials, objects of historical significance, etc.). Once captured these portals can be linked together to create triangular fields. Each faction is scored by the total area of fields they have around the world with fields over higher density populations worth more than those in remote/rural areas. As well as a global score the world is further divided in regional
      %em cells
      so that you can track the fight just in your local area.

    %p
      There are two factions, one which seeks to preserve humanity (
      %a{:href=>"http://resistancevictoria.com"} the humanist Resistance
      ) and one that seeks to destroy humanity by aiding the alien Shaper ingression (
      %a{:href=>"http://ingress.rpgaddicts.net"} the alien Enlightened
      ).

    %p
      Check out the
      %a{:href=>"/report"} Ingress Report
      for the latest updates about the game from around the world.

    %h3 <i class="fa fa-youtube-play"></i> A Beginners Guide

    .flex-video.widescreen
      %iframe{ :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "http://www.youtube.com/embed/#{site.ingress_beginners_guide}", :title => "Ingress - A beginners Guide" }

  .col-md-4
    %img.img-responsive{ :src=> '/images/ingress.png' }
