---
layout: base
title: About Ingress
---

.row-fluid
  .span8
    :textile
      h2. #{page.title}

      "Ingress":http://ingress.com is an "augmented reality":http://en.wikipedia.org/wiki/Augmented_reality GPS game by Google played on Android smartphones and tablets.

      The game objective is to capture and defend portals that are located at real world landmarks (art, sculptures, memorials, etc.). Once captured these portals can be linked together to create fields. Each faction is scored by the total area of fields they have around the world with fields over higher density populations worth more than those in remote/rural areas.

      There are two factions, one which seeks to preserve humanity ("the humanist Resistance":http://resistancevictoria.com) and one that seeks to destroy humanity by aiding the Shaper ingression ("the alien Enlightened":http://ingress.rpgaddicts.net).

      Check out the "Ingress Report":/report for the latest updates about the game from around the world.

      h3. Video: A Beginners Guide

    %iframe{ :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/#{site.ingress_beginners_guide}", :title => "YouTube video player", :width => "640"}

  .span4
    %img{ :src=> '/images/ingress.png' }
