---
layout: base
title: About Ingress
---

.row
  .col-md-8
    :textile
      h2. #{page.title}

      "Ingress":http://ingress.com is an "augmented reality":http://en.wikipedia.org/wiki/Augmented_reality GPS game by Google played on Android smartphones and tablets.

    %p
      %a{ :href=>"https://play.google.com/store/apps/details?id=com.nianticproject.ingress" }
        %img{ :src=>"https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" }

    %hr

    %h3
      %i.fa.fa-youtube-play
      Promotional Video

    .flex-video.widescreen
      %iframe{ :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "http://www.youtube.com/embed/Ss-Z-QjFUio", :title => "Ingress - It's time to move" }

    :textile
      The game objective is to capture and defend portals that are located at real world landmarks (art, sculptures, memorials, objects of historical significance, etc.). Once captured these portals can be linked together to create triangular fields. Each faction is scored by the total area of fields they have around the world with fields over higher density populations worth more than those in remote/rural areas. As well as a global score the world is further divided in regional _cells_ so that you can track the fight just in your local area.

      There are two factions, one which seeks to preserve humanity ("the humanist Resistance":http://resistancevictoria.com) and one that seeks to destroy humanity by aiding the alien Shaper ingression ("the alien Enlightened":http://ingress.rpgaddicts.net).

      Check out the "Ingress Report":/report for the latest updates about the game from around the world.

      h3. <i class="fa fa-youtube-play"></i> A Beginners Guide

    .flex-video.widescreen
      %iframe{ :allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :src => "http://www.youtube.com/embed/#{site.ingress_beginners_guide}", :title => "Ingress - A beginners Guide" }

  .col-md-4
    %img.img-responsive{ :src=> '/images/ingress.png' }
