---
layout: design
---
.container
  %h1
    #{site.title}
    - if page.url !~ /^\/join\//
      %small.animated.bounceInDown
        %span.label.label-warning
          %a{ :href=>"/join", :style=>"color: inherit;" }
            Join now!
  ~ content

