---
layout: design
---
%section{:id => "megatron", "data-speed" => "3", "data-type" => "background"}
  .jumbotron
    .container
      %span#motto.animated.fadeInLeftBig
        You are the <strong id="human">Resistance</strong>
.container
  %h1
    #{site.title}
    - if page.url !~ /^\/join\//
      %small.animated.bounceInDown
        %span.label.label-warning
          %a{ :href=>"/join", :style=>"color: inherit;" }
            Join now!
  ~ content

