---
layout: design
---
%section{:id => "megatron", "data-speed" => "3", "data-type" => "background"}
  .jumbotron
    .container#motcontainer
      %span#mottopre.animated.fadeInDown
        <strong>free</strong>your
      %span.human#mottopost.animated.fadeInUp
        mind
.container
  %h1
    #{site.title}
    - if page.url !~ /^\/join\//
      %small.animated.bounceInDown
        %span.label.label-warning
          %a{ :href=>"/join", :style=>"color: inherit;" }
            Join now!
  ~ content

