---
layout: base
title: Communications
---
.row
  .col-md-12
    %h2
      %i.fa.fa-phone-square
        #{page.title}

    %p
      Once you have activated your scanner and joined the Resistance
      you should 
      %em
        "ask to join"
      any local communities below and reach out to your nearby fellow
      Resistance agents via faction comms. They can help you with
      portal locations, supplies, tactics, levelling up and the best
      places for food and drinks when the Ingressing gets too much (or
      you're waiting for a portal to cool down).

- if site.comms
  .row
    .col-md-12
      %h3 Resistance Area Comms

  - site.comms.each_slice(3) do |slice|
    .row
      - slice.each do |area|
        .col-md-4
          .panel.panel-default
            .panel-heading
              %h4
                %i.fa.fa-map-marker
                #{area.group_name}
            .panel-body
              - if area.blurb
                :textile
                  #{ area.blurb }
              - if area.url
                %p
                  %a.btn-default.btn{ :href=>area.url }
                    %i.fa.fa-google-plus-square
                    Visit Community
            .panel-footer
              - if area.verified_agents
                %small
                  %i.fa.fa-lock
                  This community is for verified Resistance members only.


.row
  .col-md-12
    %hr
    %h3 General comms (not area specific)
.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-bullhorn
          Latest News
      .panel-body
        %p Keep up to date with local news and exploits.
        %p
          %a.btn-default.btn{ :href=>"#{site.base_url}/recruit" }
            %i.fa.fa-google-plus-square
            Visit Page
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-bullhorn
          Official Ingress Community
      .panel-body
        %p Updates from the official Ingress community
        %p
          %a.btn-default.btn{ :href=>"http://plus.google.com/+Ingress" }
            %i.fa.fa-google-plus-square
            Visit Page
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-coffee
          All Faction
      .panel-body
        %p The Enlightened are people too (albeit misguided foolish people). General chat for all Ingress players in Victoria can be had in this community. This is where you can organise meet ups, cease fires, etc.

        %p
          To verify first 
          %em "ask to join"
          the community and then go to the Intel site, centre your map
          over Melbourne and broadcast on 
          %strong public comms:
          %em "request to join all faction group, my initials are XY"
          (using your own initials of course).
        %p
          %a.btn-default.btn{ :href=>"https://plus.google.com/communities/109159165616111304786" }
            %i.fa.fa-google-plus-square
            Visit Community
      .panel-footer
        %p
          %i.fa.fa-unlock
          This community is for verified Ingress players to post, but it is public for anyone to read.

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h4
          %i.fa.fa-road
          Victoria Resistance on Wheels
      .panel-body
        %p Ride a bike while ingressing? This community is for you.

        %p
          %a.btn-default.btn{ :href=>"https://plus.google.com/communities/114821706772870811685" }
            %i.fa.fa-google-plus-square
            Visit Community
      .panel-footer
        %small
          %i.fa.fa-lock
          This community is for verified Resistance members only.
.row
  .col-md-12
    %hr
    .panel.panel-success
      .panel-heading
        %h2
          %i.fa.fa-heart.fa-lg
          Add your community link to this page
      .panel-body
        %p
          If you've created a community for your local area or special
          interest Ingress group and want it listed above simply send
          the details to
          %code agent@vic.blue
          and it will be added here as quickly as possible.
.row
  .col-md-12
    .panel.panel-danger
      .panel-heading
        %h2
          %i.fa.fa-exclamation-triangle.fa-lg
          Beware of spies
      .panel-body
        %p
          We are aware that Enlightened have spy agents in our
          communities and our secure faction comms. Keep this in mind
          when you are planning large impact operations, only
          communicate with agents you know and trust via more direct
          and secure communications methods such as
          %em Google+ Hangouts.
          Feeding misinformation to spies can sometimes be handy.
