---
layout: base
title: Our Goal
---

.row
  .col-md-8
    %h2 #{page.title}

    %p We do not fear change, we are not uncertain about our past or our future and we have no doubt the Enlightened are misguided. They would have you believe that all human accomplishments are due to the Shaper aliens. They would have you believe there is no way we could have created art and science without the aliens help. The Enlightened have a very limited view of humanities potential and what we have achieved up until now. They want you to think we are nothing more than pets to these aliens, unable to think or create for ourselves and without the aliens help will never amount to anything. We think nothing could be further from the truth.

    %p
      While we are attacking the aliens we should never forget that the Enlightened agents are still our brothers and sisters. They deserve our compassion because they don't know they are speaking the lies whispered to them by their alien captors. They are suffering from
      %a{:href=>"http://en.wikipedia.org/wiki/Stockholm_syndrome"} Stockholm syndrome
      and they need us to free them with the rest of humanity. It's a big job with them fighting against us but we're up to the challenge.

    %p The fact that the Enlightened need to fight to enlighten us should give you pause for thought. Why is it so important to them that we all must be enlightened? Why can't they just leave us to make up our own minds? There are many unanswered questions about these Shaper aliens and we see no reason not to be cautious of the aliens and the agenda they are pushing through their green-shirt "Enlightened" agents.

    %p We fight to free all humanity from the aliens and in time even the Enlightened agents will thank us.

    %p We are the protectors of humanity.

    %p
      Check our
      %a{:href=>"/recruit"} recruitment page
      for more up to date information about Ingress in Victoria, Australia.

    %hr

    %p
      Of course if you don't want to fight for humanity and you enjoy being subjugated you could bow down to the aliens and
      %a{:href=>"http://ingress.rpgaddicts.net"} join the Enlightened
      instead (it is after all just a game).

  .col-md-4
    %img.img-responsive{ :src=> '/images/resistance.png' }
